*{
    border: 2px dotted darkblue;
}
body{
    font-family: "Times New Roman", sans-serif;
}
img{
    width: 200px;
}
ul{
    list-style: none;
}
h1{
    color: darkred;
    text-align: center;
}
.recipe-card
{
    width: 400px;
    background-color: #FFFafa;
    text-align: center;
    
}
.feature
{
    border: 2px solid darkred;
}
.recipe-content
{
    text-align: left;
}
h2,a{
    font-size:16px;
}